body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 17px;
  font-style: normal;
  font-weight: 400;
  color: #000000;

  background-color: #fffdfd;
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

.button {
  background-color: #ffffff;

  border-radius: 2px;

  text-align: center;
}

.red {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #ee3643;

  margin: 0;
  padding: 0;
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
}

.red:hover {
  background-color: #ca2c37;
}

.red:active {
  background-color: #ba2732;
}

.white {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  color: #000000;

  margin: 0;
  padding: 0;
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
}

.visually-hidden:not(:focus):not(active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*header*/

.background-light {
  background-color: #f3f7f8;
}

.background-dark {
  background-color: #293449;
}

.main-header-buttons {
   line-height: 18px;
   color: #ffffff;

   background-color: #293449;
 }

.main-header-search {
  position: relative;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-style: normal;
  font-weight: 400;

  padding-left: 39px;

  border: 0;
  outline: none;
}

.main-header-search::before {/*помогите найти иконку, пожалуйста*/
  content: "";

  position: absolute;
  top: 12px;
  left: 30px;

  width: 20px;
  height: 19px;

  background-image: url(../img/icon-search.svg);
  background-position: 0 0;
  background-repeat: no-repeat;

  opacity: 0.3;
}

.main-header-search:hover::before,
.main-header-search:focus::before {
  opacity: 1;
}

.main-header-search:active::before {
  opacity: 1;

  color: #ee3643;
}

.main-header-search:hover {
  background-color: #212a3a;

  fill: #ffffff;
}

.main-header-search:active {
  background-color: #ffffff;

  fill: #ee3643;
}

.main-header-search::-moz-placeholder {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-style: normal;
  font-weight: 400;
  color: #ffffff;
}

.main-header-search::-webkit-input-placeholder {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-style: normal;
  font-weight: 400;
  color: #ffffff;
}

.main-header-search:-ms-input-placeholder {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-style: normal;
  font-weight: 400;
  color: #ffffff;
}

.main-header-search::-ms-input-placeholder {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-style: normal;
  font-weight: 400;
  color: #ffffff;
}

.main-header-search::placeholder {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-style: normal;
  font-weight: 400;
  color: #ffffff;
}

.main-header-bookmarks {
  position: relative;
  width: 140px;
  margin-right: 10px;
  padding-left: 30px;
}

.main-header-bookmarks::before {
  content: "";

  position: absolute;
  top: 12px;
  left: 30px;

  width: 17px;
  height: 20px;

  background-image: url(../img/icon-bookmark.svg);
  background-position: 0 0;
  background-repeat: no-repeat;

  opacity: 0.3;
}

.main-header-bookmarks:hover::before,
.main-header-bookmarks:focus::before {
  opacity: 1;
}

.main-header-bookmarks:active::before {
  opacity: 0.3;
}

.main-header-cart {
  position: relative;
  width: 140px;
  margin-right: 10px;
  padding-left: 30px;
}

.main-header-cart::before {
  content: "";

  position: absolute;
  top: 12px;
  left: 30px;

  width: 19px;
  height: 19px;

  background-image: url(../img/icon-cart.svg);
  background-position: 0 0;
  background-repeat: no-repeat;

  opacity: 0.3;
}

.main-header-cart:hover::before,
.main-header-cart:focus::before {
  opacity: 1;
}

.main-header-cart:active::before {
  opacity: 0.3;
}

.main-header-bookmarks:hover,
.main-header-cart:hover
 {
  background-color: #212a3a;

  fill: #ffffff;
}

.main-header-cart:active,
.main-header-bookmarks:active {
  color: rgba(225, 225, 225, 0.6);

  background-color: #212a3a;

  fill: #8b8e94;
}

.main-header-search-form,
.main-header-bookmarks,
.main-header-cart {
  display: block;
  padding-top: 12px;
}


.main-header-search-form:active {
  background-color: #ffffff;

  fill: #ee3643;
}

.main-header-issue {
  background-color: #63a63e;
}

.main-header-issue:hover {
  background-color: #5fbb2d;
}

.main-header-issue:active {
  color: rgba(255, 255, 255, 0.51);

  background-color: #518534;
}

.main-header-text {
  font-family: "Cuprum", Arial, sans-serif;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  font-weight: 400;
  color: #ee3643;
}

.main-header-telephone {
  position: relative;
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;

  padding-left: 70px;
  padding-right: 46px;
  padding-top: 9px;
  padding-bottom: 9px;
  margin-bottom: 10px;
  margin-right: 72px;

  display: block;

  border: 3px solid #ffffff;
}

.main-header-telephone::before {
  content: "";

  position: absolute;
  top: 9px;
  left: 18px;

  width: 22px;
  height: 20px;

  background-image: url(../img/icon-phone.svg);
  background-position: 0 0;
  background-repeat: no-repeat;

  opacity: 1;
}

.main-header-adress {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;

  display: block;
}

.main-header-buttons-list {
  list-style: none;
}

.main-header-buttons-list a {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.main-header-buttons-list a:hover {
  color: #ee3643;
}

.main-header-buttons-list a:active {
  color: rgba(0, 0, 0, 0.3);
}

.header-login-button::before,
 .header-login-button:active::before{
  content: "";

  position: absolute;
  top: 13px;
  left: 16px;

  width: 22px;
  height: 20px;

  background-image: url(../img/icon-login.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.header-login-button:hover::before,
.header-login-button:focus::before {
  fill: #32425c; /*как сделать смену цвета svg?*/
}

.background-secondary {
  background-color: #32425c;
}

.navigation-block-body-content {
  box-shadow: 0 5px 0 0 #293449;
}

.main-menu-navigation-list,
.main-menu-navigation-list a {
  color: #ffffff;

  list-style: none;
}

.main-menu-navigation-item:hover,
.main-menu-navigation-item:hover a {
  background-color: #293449;
}

.main-menu-navigation-item:active,
.main-menu-navigation-item:active a {
  color: rgba(255, 255, 255, 0.5);

  background-color: #293449;
}

/*main*/

.promo-title {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
}

.promo-button {
  background-color: rgba(0, 0, 0, 0.1);

  display: block;
  width: 135px;

  margin-left: 25px;
  margin-right: 140px;
  margin-top: 13px;

  padding-top: 11px;
  padding-bottom: 11px;
}

.promo-button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.promo-button:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.promo a {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
}

.background-warning {
  background-color: #f6b22d;
}

.promo-materials {
  position: relative;
}

.promo-materials::after {
  content: "";

  position: absolute;
  top: 30px;
  left: 210px;

  width: 55px;
  height: 75px;

  background-image: url(../img/icon-promo-materials.svg);
  background-position: 0 0;
  background-repeat: no-repeat;

  z-index: 1;
}

.promo-materials::before {
  content: "";

  position: absolute;
  top: 0px;
  left: 240px;

  width: 60px;
  height: 60px;

  background-image: url(../img/new-products.png);
  background-position: 0 0;
  background-repeat: no-repeat;

  z-index: 2;
}

.background-info {
  background-color: #3bbce3;
}

.promo-tools {
  position: relative;
}

.promo-tools::after {
  content: "";

  position: absolute;
  top: 30px;
  left: 194px;

  width: 80px;
  height: 64px;

  background-image: url(../img/icon-promo-tools.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.background-violet {
  background-color: #dc91d8;
}

.promo-equipment {
  position: relative;
}

.promo-tools::after {
  content: "";

  position: absolute;
  top: 30px;
  left: 192px;

  width: 80px;
  height: 68px;

  background-image: url(../img/icon-promo-equipment.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.background-aquamarine {
  background-color: #8ed78f;
}

.promo-sale {
  position: relative;
}

.promo-sale::after {
  content: "";

  position: absolute;
  top: 30px;
  left: 194px;

  width: 63px;
  height: 75px;

  background-image: url(../img/icon-promo-sale.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.background-aquamarine {
  background-color: #8ed78f;
}

.promo-delivery {
  position: relative;
}

.promo-delivery::after {
  content: "";

  position: absolute;
  top: 30px;
  left: 192px;

  width: 83px;
  height: 68px;

  background-image: url(../img/icon-promo-delivery.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.slider-item-list {
  list-style: none;
}

.slider-title {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}

.slider-subtitle {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.slider-item-list > .slider-item {
  background-color: #201512;
  background-image: url(../img/slider-drills.jpg);
  background-position: center center;
  background-repeat: no-repeat;
}

.slider-item-list .red + .slider-item {
  background-color: #756453;
  background-image: url(../img/slider-perforators.jpg);
  background-position: center center;
  background-repeat: no-repeat;
}

.slider-dots-list {
  list-style: none;
}

.slider-dot {
  background-image: url(../img/slider-dot-indicator.png);
  background-position: center center;
  background-repeat: no-repeat;
}

.slider-dot:disabled {
  background-image: url(../img/slider-dot-off.png);
  background-position: center center;
  background-repeat: no-repeat;
}

.slider-dot-disabled {
  text-align: left;
}

.slider-current-dot {
  text-align: right;
}

.slider-arrows-list {
  list-style: none;
}

.slider-arrow {
  text-align: center;
}

.slider-arrow-type-next {
  background-image: url(../img/icon-right.svg);
  background-position: right center;
  background-repeat: no-repeat;
}

.slider-arrow-type-previous {
  background-image: url(../img/icon-left.svg);
  background-position: left center;
  background-repeat: no-repeat;
}

.new {
  background-image: url(../img/new-products.svg);
  background-position: right top;
  background-repeat: no-repeat;
}

.background-beige {
  background-color: #f9f5f0;
}

.content-title {
  font-size: 30px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.catalog-items-list {
  list-style: none;
}

.catalog-item-action a {
  color: #32425c;
}

.catalog-button-buy {
  text-transform: uppercase;

  background-image: url(../img/icon-cart.svg);
  fill: #92c178;
  background-position: left center;
  background-repeat: no-repeat;
  background-color: #63a63e;
  box-shadow: 0 3px 0 0 #367315;
}

.catalog-button-buy:hover {
  background-color: #5fbb2d;
}

.catalog-button-buy:active {
  background-color: #518534;
  box-shadow: 0 3px 0 0 #518534;
}

.catalog-item-action + a {
  font-size: 14px;
  line-height: 18px;
  color: #32425c;
  text-transform: uppercase;
}

.catalog-button-buy + a {
  font-size: 14px;
  line-height: 18px;
  color: #32425c;
  text-transform: uppercase;
}

.catalog-button-bookmarks {
  color: #32425c;
  text-transform: uppercase;

  border: 3px solid #63a63e;
  border-radius: 2px;
}

.catalog-button-bookmarks:hover {
  border: 3px solid #32425c;
}

.catalog-button-bookmarks:active {
  color: rgba(50, 66, 92, 0.3);

  border: 3px solid #c1c6ce;
}

.pop-cards-list {
  list-style: none;
}

.pop-card-title {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;

  text-align: center;
  display: block;
  margin-bottom: 10px;
}

.price {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

.catalog-item-old-price {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: #a9a9a9;
  text-decoration: line-through;

  display: block;
  margin-bottom: 10px;
}

.catalog-item-new-price {
  position: relative;
  display: block;
  width: 55px;
  padding-left: 35px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  margin-left: -25px;

  background-color: #ee3643;
}

.new-card {
  margin-top: 28px;
}

.catalog-item-new-price::after {
  content: "";
  position: absolute;
  top: 0;
  left: 109px;

  border: 18px solid #ffffff;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-left-color: #ee3643;
}

.pop-card-item:hover,
.catalog-item,
.pop-brand-item:hover {
  box-shadow: 0px 0px 25px 0px rgba(41, 52, 73, 0.5);
}

.pop-brand-item:active {
  box-shadow: 4px 4px 10px 0px rgba(41, 52, 73, 0.5);

  opacity: 0.3;
}

.pop-brands-list {
  list-style: none;
}

.background-light-gray-blue {
  background-color: #f4f7f9;
}

.services-narrative,
.services-delivery-narrative,
.services-guarantee-narrative,
.services-credit-narrative {
  text-align: left;
}

.services-narrative {
  display: inline-block;
  width: 400px;
  margin: 0;
  padding: 0;
  margin-top: 30px;
  margin-bottom: 70px;
}

.services-item-title {
  margin: 0;
  padding: 0;

  font-size: 36px;
  line-height: 36px;
  color: #32425c;
  text-transform: uppercase;
}

.services-buttons-list {
  margin: 0;
  padding: 0;
  margin-bottom: 102px;
  margin-right: 70px;

  list-style: none;
}

.service-button {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;

  background-color: #32425c;
  border-width: 2px;
  border-bottom: 2px solid #293449;
  border-top: 2px solid #405069;
  border-right: none;
  border-left: none;

  width: 240px;
  display: inline-block;
  margin: 0;
  padding: 0;
  text-align: left;
  padding-left: 23px;
  padding-top: 17px;
  padding-bottom: 17px;
}

.services-current-button {
  color: #32425c;

  background-color: #ffffff;
  border: none;
}

.service-button:hover,
.service-button:focus {
  color: #ffffff;
  background-color: #293449;
  outline: none;
}

.service-button:active {
  color: #32425c;

  background-color: #ffffff;
  border: none;
  outline: none;
}

.services-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.services-item {
  width: 275px;
}

.services-block-body {
  position:relative;

  background-image: url(../img/services-delivery.png);
  background-position: right bottom;
  background-repeat: no-repeat;
}

.services-block-body::after {/*правильно ли сделано? ведь картинка будет переключаться вместе со слайдами услуг?*/
  content: "";

  position: absolute;
  top: 210px;
  left: 250px;

  width: 10px;
  height: 275px;

  background-image: url(../img/services-shadow.png);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.services-guarantee {
  background-image: url(../img/services-guarantee.png);
  background-position: center right;
  background-repeat: no-repeat;
}

.services-credit {
  background-image: url(../img/services-credit.png);
  background-position: center right;
  background-repeat: no-repeat;
}

.about-us-narrative {
  display: inline-block;
  text-align: left;
  width: 524px;
  margin: 0;
  margin-top: 30px;
}

.about-us-narrative + .about-us-narrative {
  width: 390px;
}

 .about-us-dash-and-text {
    display: flex;
 }

 .about-us-list {
   font-size: 18px;
   line-height: 20px;

   list-style: none;

   margin: 0;
   padding: 0;

   display: flex;
   flex-direction: column;
 }

 .about-us-item {
   display: inline-block;
   margin: 0;
   padding: 0;
   margin-top: 22px;
 }

 .about-us-item:first-child {
   margin-top: 27px;
 }

 .long-dash-item:first-child {
   margin-top: 35px;
 }

 .long-dash-list {
   list-style: none;
   display: block;
   margin: 0;
   padding: 0;
 }

 .long-dash-item {
   width: 25px;
   height: 2px;
   margin-right: 10px;
   margin-top: 40px;
   background: #ee3643;
 }

.contacts-narrative {
  display: inline-block;
  text-align: left;
  width: 180px;
  margin: 0;
  margin-top: 30px;
}

.background-light-danger {
  background-color: #ff5257;
}

.background-light-secondary-danger {
  background-color: #f4f4f4;
}

.map {
  background-color: #f4f2ec;

  display: block;

  margin-top: 40px;
}

/*footer*/
.main-footer-logo {
  margin-bottom: 37px;
}

.footer-contacts {
  width: 333px;

  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.footer-contacts a {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.main-footer-navigation-list,
.main-footer-navigation-list a {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;

  list-style: none;
}

.main-footer-navigation-item a:hover {
  text-decoration:underline;
}

.main-footer-navigation-item a:active {
  color: rgba(241, 245, 247, 0.5);
}

.color-yellow a {
  color: #ffd180;
}

.color-yellow a:active {
  color: rgba(255, 209, 128, 0.5);
}

.main-footer-copyright {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.color-yellow .main-footer-copyright:active {
  color: #c73644;
}

.copyright-block a {
  color: #ffd180;
}

.copyright-block-body-content {
  display: flex;
  justify-content: space-between;
  padding-top: 38px;
  padding-bottom: 31px;
}

.main-footer-copyright {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.main-footer-developer-copyright-text {
  width: 300px;
  display: flex;
  justify-content: space-between;
}

.social-icon-list {
  margin: 0;
  padding: 0;
  display: flex;
}

.social-icon-list {
  flex-wrap: wrap;
  justify-content: space-between;
  width: 133px;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

.social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 43px;
  height: 43px;

  background-color: #212a3a;

  border-radius: 50px;
}

.social-icon:hover,
.social-icon:focus,
.social-icon:active {
  background-color: #ee3643;
}

.main-footer-copyright-text {
  display: flex;
  flex-direction: column;
}

.main-footer-copyright,
.social-icon {
  margin-top: 38px;
  margin-bottom: 31px;
}

.second-paragraph {
  margin-top: 0;
}

.first-paragraph {
  margin-bottom: 0;
}
/*стили для каталога*/

.cart-issue a {
  color: #ffffff;
}

.products-in-cart {
  background-color: #ee3643;
}

.main-header-issue-active {
  background-color: #63a63e;
}

.login-block-body-content-container a {
  font-size: 21px;
  line-height: 21px;
  color: #000000;

  text-align: center;
}

.login-block-body-content-container a:active {
  color: rgba(0, 0, 0, 0.3);
}

.icon-user,
.icon-user:active
 {
  background-image: url(../img/icon-user.svg);
  background-position: center center;
  fill: #c5c5c5;
  background-repeat: no-repeat;
}

.icon-logout,
.icon-logout:active
 {
  background-image: url(../img/icon-logout.svg);
  background-position: center center;
  fill: #c5c5c5;
  background-repeat: no-repeat;
}

.icon-user:hover,
.icon-logout:hover {
  fill: #32425c;
}

.login-options-list {
  list-style: none;
}

.login-options-list a {
  color: #32425c;
  font-size: 16px;
  line-height: 18px;

  text-decoration: underline;
  text-decoration-color: #32425c;

  list-style: none;
}

.login-options-list a:hover {
  color: #e9292a;
  text-decoration-color: #e9292a;
}

.login-options-list a:active {
  color: rgba(50, 66, 92, 0.3);
  text-decoration-color: rgba(50, 66, 92, 0.3);
}

.breadcrumbs {
  list-style: none;
}

.breadcrumbs a {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;

  text-align: center;

  text-transform: uppercase;
}

h1 {
  font-size: 30px;
  line-height: 30px;
  color: #32425c;

  text-align: left;
  margin-left: 32px;
}

.block-body-content-container {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
}

.filter-catalog-block {
  text-transform: uppercase;
}

.filter fieldset {
  border: none;
}

.filter-title {
  font-size: 13px;
  line-height: 18px;

  text-align: left;
}

.filter-fieldset-title {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;

  text-align: left;
}

.filter-price-value-min {
  font-size: 17px;
  line-height: 18px;

  text-align: center;
}

.filter-item,
.filter-item:hover {
  font-size: 15px;
  line-height: 20px;

  text-transform: uppercase;

  text-align: left;
}

.filter-item:disabled {
  color: #999999;
}

.filter-button {
  font-size: 13px;
  line-height: 18px;

  text-transform: uppercase;
  border: 0;
  outline: 1px solid #e5e5e5;
}

.filter-list {
  list-style: none;
}

.filter-input {
  text-align: : center;
}

.filter-input-checkbox {
  background-image: url(../img/checkbox-off.svg);
  fill: #c5c5c5;
  background-position: left center;
  background-repeat: no-repeat;
}

.filter-input-checkbox:hover {
  fill: #b5b5b5;
}

.filter-input-checkbox:disabled {
  fill: #e9e9e9;
}

.filter-input-checkbox:checked {
  background-image: url(../img/checkbox-on.svg);
  fill: #c5c5c5;
  background-position: left center;
  background-repeat: no-repeat;
}

.filter-input-checkbox-checked:hover {
  fill: #b5b5b5;
}

.filter-input-checkbox-checked:disabled {
  fill: #e9e9e9;
}

.filter-input-radio {
  background-image: url(../img/radio-on.svg);
  fill: #c5c5c5;
  background-position: left center;
  background-repeat: no-repeat;
}

.filter-input-radio:hover {
  fill: #b5b5b5;
}

.filter-input-radio:disabled {
  fill: #e9e9e9;
}

.filter-input-radio:checked {
  background-image: url(../img/radio-off.svg);
  fill: #c5c5c5;
  background-position: left center;
  background-repeat: no-repeat;
}

.filter-input-radio-checked:hover {
  fill: #b5b5b5;
}

.filter-input-radio-checked:disabled {
  fill: #e9e9e9;
}

.sorting-way-list a {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}

.sorting-way-list {

  list-style: none;
}

.sorting-way-item:nth-child(1),
.sorting-way-item:nth-child(2),
.sorting-way-item:nth-child(3) {
  text-decoration: none;
  border-bottom: 1px dashed #ee3643;
}

.sorting-way-item {
  color: rgba(0 , 0, 0, 0.3);
}

.sorting-way-item:hover {
  color: #000000;

  text-decoration: none;
  border-bottom: 1px solid #ee3643;
}

.sorting-way-item:active {
  color: #ee3643;

  border-bottom: none;
}

.sorting-order-list {
  list-style: none;
}

.sorting-order-item a {
  color: rgba(0 , 0, 0, 0.3);
}

.sorting-order-item a:hover {
  color: #000000;
}

.sorting-order-item a:active {
  color: #ee3643;
}

.sorting-way-current a {
  color: #ee3643;
}

.min-to-max-price {
  background-image: url(../img/icon-up-dir.svg);
  fill: #c5c5c5;
  background-position: right center;
  background-repeat: no-repeat;
}

.max-to-min-price {
  background-image: url(../img/icon-down-dir.svg);
  fill: #c5c5c5;
  background-position: right center;
  background-repeat: no-repeat;
}

.min-to-max-price:hover,
.max-to-min-price:hover {
  fill: #231f20;
}

.min-to-max-price:active,
.max-to-min-price:active {
  fill: #ee3643;
}

.min-to-max-price-current {
  fill: #ee3643;
}

.pagination-list {
  list-style: none;
}

.pagination-item a {
  font-size: 13px;
  line-height: 18px;
  color: #000000;

  padding-top: 13px;
  padding-bottom: 13px;
  padding-right: 17px;
  padding-left: 17px;

  text-transform: uppercase;

  outline: 1px solid #e5e5e5;
  border-radius: 3px;
}

.pagination-item a:hover {
  outline: 1px solid #bdc6ca;
}

.pagination-item a:active {
  outline: 1px solid #ee3643;
}

.pagination-item-current a {
  color: #ffffff;

  background-color: #ee3643;
}

.pagination-item-current a:hover,
.pagination-item-current a:active,
.pagination-item-current a:active {
  color: #ffffff;

  background-color: #ee3643;
}

.puncher-text-block {
  background-color: #f2f6f8;
}

.narrative {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
}

.puncher-narrative {
  text-align: left;
}

.empty-cart-action-block-body {
  background-color: #ee3643;
}

.cart-action-buttons-list {
  list-style: none;
}

/*----- Стили для сетки -------*/

html,
body {
  min-width: 1200px;
}

.block {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
}

.block-body {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.block-body-content {
  width: 940px;
  margin: 0 auto;
  padding: 0;
}

.main-header {
  align-items: center;
  padding-bottom: 60px;
}

.logo-block {
   margin-bottom: 47px;
}

.logo-block-body-content {
  display: flex;
  justify-content: space-between;
}

.company-logo {
  width: 220px;
  height: 42px;
  margin-right: 10px;

  box-shadow: 0 3px 0 0 #b52933;
}

.main-header-search-form {
  width: 250px;
  margin-right: 10px;
}

.main-header-issue {
  width: 150px;
  margin: 0;
}

.info-block-body-content {
  display: flex;
  align-items: baseline;
}

.main-header-text {
  width: 300px;
  margin-right: 20px;

  align-self: flex-start;
}

.main-header-adress {
  width: 270px;
  margin-right: 69px;
}

.main-header-buttons-list {
  width: 282px;

  margin-bottom: 67px;
  display: flex;
}

.header-login {
  width: 73px;
  margin-right: 10px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 48px;
  position: relative;
}

.header-check-in {
  width: 150px;
  margin: 0;
  padding-top: 12px;
  padding-bottom: 12px;
}

.main-menu-navigation-list {
  display: flex;
  flex-wrap: wrap;
}

.container {
  margin: 0 auto;
}

.promo-block-body {
  margin: 0 auto;
  margin-bottom: 35px;
}

.promo-block-body-content,
.slider-promo {
  display: flex;
  justify-content: space-between;
}

.slider-promo {
  width: 940px;
  margin: 0 auto;
}

.promo {
  width: 300px;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.slider-title {
  margin-top: 0;
  margin-bottom: 0;
}

.slider-subtitle {
  margin-top: 0;
}

.slider-button {
  margin-top: auto;
  padding-right: 45px;
  padding-left: 45px;
}

.slider-item.is-visible {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 20px;
  box-sizing: border-box;
}

.slider-item {
  display: none;
  height: 100%;
}

.slider-item-list {
  margin: 0;
  padding: 0;

  /*Временно для сетки*/
  height: 267px;
}

.slider {
  width: 620px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.pop-cards-title-block-body-content {
  display: flex;
  margin: 0 auto;
  margin-bottom: 20px;
  justify-content: space-between;
}

.pop-cards-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.pop-card-item { /*как повесить на карточку ярлык new?*/
  width: 220px;
}

.pop-brands-title-block-body-content {
  width: 940px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}

.pop-brands-list {
  margin: 0;
  padding: 0;
  margin-bottom: 85px;
  display: flex;
  flex-wrap: wrap;
}

.pop-brand-item {
  width: 220px;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
  margin-right: 20px;
  margin-top: 20px;
  /*Временно для сетки*/
  min-height: 145px;
}

.pop-brand-item:nth-child(4n) {
  margin-right: 0;
}

.pop-brand-img {
  text-align: center;
}

.services-block-body {
  display: flex;
  flex-direction: column;
  padding-top: 68px;
}

.services-block-body-content-content {
  display: flex;
}

.services-list {
  margin: 0;
  padding: 0;
}

.about-company-block-body {
  width: 940px;
  display: flex;
  justify-content: space-between;
  padding-top: 80px;
}

.about-us-block-body-content {
  margin: 0;
  padding: 0;
  width: 540px;
  margin-right: 100px;
  margin-bottom: 88px;
}

.contacts-block-body-content {
  width: 300px;
  margin-bottom: 88px;
}

.logo-contacts-block-body {
  display: flex;
}

.logo-contacts-block-body-content {
  display: flex;
  flex-direction: column;
}

.navigation-footer-block-body-content {
  width: 940px;
  display: flex;
  flex-direction: column;
}

.main-footer-navigation-list {
  margin: 0;
  padding: 0;
  display: flex;
  margin-top: 40px;
}

.footer-menu {
  justify-content: space-between;
}

.color-yellow {
  justify-content: space-between;
}

/*Стили для страницы каталога*/

.login-block-body-content-container a {
  display: flex;
  justify-content: space-between;
}

.main-header-internal-page {
  margin-bottom: 24px;
}

.login-options-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.breadcrumbs {
  display: flex;
  margin-bottom: 24px;
}

.breadcrumbs li {
  margin-right: 30px;
}

/*.breadcrumbs li:first-child {
  margin-left: 30px;/*В том месте еще должен быть домик. Домик - это иконка и ссылка на главную страницу. Лучше всего будет не делать отступы между крошками вот таким образом, а сделать это потом с помощью декоративных элементов и отступов от них*/
}*/

.filter-catalog-block-body {
  margin: 0 auto;
  width: 940px;
}

.title-block-body-content {
  width: 940px;
  margin: 0 auto;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  display: flex;
}

.filter-cards {
  width: 940px;
  display: flex;
  justify-content: space-between;
}

.filter-block-body-content {
  width: 220px;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  margin-right: 20px;
  margin-bottom: 457px;
}

.filter-title-block-body-content-container {
  width: 220px;
  display: flex;
  margin: 0 auto;
  margin-right: 20px;
}

.filter-title {
  width: 220px;
  margin-bottom: 20px;
  margin-left: 18px;
}

.filter-fieldset-title {
  margin: 0;
  padding: 0;
}

fieldset {
  padding: 0;
}

.sorting-block-body-content-container {
  width: 700px;
  display: flex;
  margin-bottom: 20px;
}

.sorting-way-list {
  margin: 0;
  padding: 0;
  display: flex;
}

.sorting-way-item:nth-child(1) {
  margin-right: 70px;
}

.sorting-way-item:nth-child(2) {
  margin-right: 65px;
}

.catalog-items-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 32px;
}

.catalog-item {
  width: 220px;
  margin-bottom: 20px;
  margin-right: 20px;
}

.catalog-item:nth-child(3n) {
  margin-right: 0;
}

.catalog-item:hover {
  box-shadow: 0px 0px 25px 0px rgba(41, 52, 73, 0.5);
}

.pagination-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 60px;
}

.pagination-item {
  margin-right: 10px;
}

.puncher-text-block-body {
  margin: 0 auto;
  margin-bottom: 0;а
  display: flex;
  flex-direction: column;
}

.cart-action-block {
  width: 620px;

  box-shadow: 0 0 40px 0 rgba(41, 52, 73, 0.75);
}

.empty-cart-action-block-body {
  width: 620px;
  min-height: 7px;
  margin-bottom: 65px;
}

.added-product-cart-action-block-body span {
  text-align: center;
}

.cart-action-buttons-block-body {
  width: 620px;
  background-color: #f1f1f1;
}

.cart-action-buttons-list {
  display: flex;
}

.white {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  color: #000000;
}

.catalog-item-title {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;

  text-align: center;
  }

.promo-title {
  display: block;
  margin-bottom: 14px;
  margin-left: 22px;
}

.content-title {
  margin: 0;
}

fieldset {
  padding: 0;
}

/*стили для карточек*/

.pop-card-item,
.catalog-item {
  position: relative;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.catalog-item-image {
  width: 100%;
  box-sizing: border-box;
  height: 166px;
  padding: 20px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-content {
  padding: 20px;
}

.card-overlay {
  box-sizing: border-box;
  width: 100%;
  height: 166px;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.catalog-item-button {
  display: flex;

  margin: 0;
  padding: 0;
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
}

.catalog-button-buy {
  width: 135px;
  margin-bottom: 10px;
}

.catalog-button-bookmarks {
  width: 129px;
}

.pop-card-item:hover .card-overlay,
.catalog-item:hover .card-overlay,
.card-overlay:focus-within {
  opacity: 1;
}

/*форма для главной*/
.form-window {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  width: 620px;
  box-shadow: 0px 0px 25px 0px rgba(41, 52, 73, 0.5);
}

.contacts-action-empty-block-body {
  margin: 0;
  padding: 0;
  width: 620px;
  padding-bottom: 7px;
  background-color: #ff5357;
}

.contacts-action-block {
  padding-top: 7px;
}

.close-button {
  padding-left: 588px;
  padding-right: 8px;
  padding-bottom: 12px;
}

.contacts-action-close {
  background-image: url(../img/close-red-cross.png);
  background-repeat: no-repeat;

  border: 0;
}

.contacts-action-block-body {
  padding-right: 80px;
  padding-left: 80px;
}

.contacts-action-submit-block-body {
  margin: 0;
  padding: 0;
  width: 620px;
  height: 112px;
  background: #f4f4f4;
}

.contacts-action-submit {
  width: 460px;
  margin: 0;
  padding: 0;
  margin: 37px 80px;
  padding-top: 12px;
  padding-bottom: 12px;

  border: 0;
}

.form-name-email {
  width: 460px;
  display: flex;
  justify-content: space-between;
}

.form-name {
   width: 220px;
}

.form-email {
  width: 220px;
}

label {
  display: block;
  font-size: 17px;
  line-height: 17px;
  margin-bottom: 8px;
}

.contacts-action-name,
.contacts-action-email {
  width: 220px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  border: 1px solid #dee3e4;
  border-radius: 2px;
}

.contacts-action-text {
  width: 460px;
  padding-top: 13px;
  padding-bottom: 85px;
  padding-left: 10px;
  border: 1px solid #dee3e4;
  border-radius: 2px;
  margin-bottom: 37px;
}

.contacts-action-name,
.contacts-action-email,
.contacts-action-text {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #e70c0c;
}

.contacts-action-name,
.contacts-action-email {
  margin-bottom: 20px;
}

/*форма для каталога*/

.cart-action-buttons-list {
  width: 460px;
  list-style: none;
  display: flex;
  justify-content: space-between;

  padding: 37px 80px;
}

.cart-action-buttons-list a {
  text-decoration: none;
}

.cart-action-block {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  width: 620px;
  box-shadow: 0px 0px 25px 0px rgba(41, 52, 73, 0.5);
}

.contacts-action-empty-block-body {
  margin: 0;
  padding: 0;
  width: 620px;
  padding-bottom: 7px;
  background-color: #ff5357;
  margin-bottom: 7px;
}

.cart-action-buttons-block-body {
  margin: 0;
  padding: 0;
  width: 620px;
  background: #f4f4f4;
}

.catalog-issue,
.catalog-continue-shopping {
  width: 220px;
}

.close-button {
  padding-left: 588px;
  padding-right: 8px;
  padding-bottom: 12px;
}

.cart-action-block .contacts-action-close {
  margin-bottom: 33px;
}

.cart-action-text {
  display: inline-block;
  margin-bottom: 65px;
  margin-left: 176px;
  margin-right: 126px;
}

/*выравнивание элементов по высоте*/

.main-header-issue {
  padding-top: 12px;
}

.main-menu-navigation-item a {
  display: block;
  padding: 20px 25px;
}

.main-menu-navigation-list:first-child {
  padding-left: 50px;
}

.main-menu-navigation-list:last-child {
  padding-right: 50px;
}

.promo-block-body {
  padding-top: 60px;
}

.pop-title {
  display: inline-block;
  margin-top: 31px;
  margin-bottom: 31px;
  margin-left: 30px;
}

.all-popular-goods,
.all-producers {
  display: inline-block;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-right: 25px;
  padding: 10px 55px;
}

.pop-cards-block-body {
  padding-bottom: 21px;
}

.map-contacts-button {
  margin-top: 40px;
  padding: 10px 60px;
}

.more-about-the-company {
  display: inline-block;
  margin: 0;
  margin-top: 40px;
  padding: 0;
  padding: 10px 40px;
}

/*выравнивание промо-блоков*/

/*как выровнять логотипы популярных брендов, ведь они все разного размера?*/

.footer-goods {
  margin-bottom: 72px;
}

/*стили для хедера каталога*/
.cart-issue a {
  width: 150px;
  margin: 0;
  padding: 0;
  padding-top: 12px;
  padding-bottom: 12px;
}

.main-header-issue-active {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.cart-issue {
  display: flex;
}
