body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum Regular", Arial, sans-serif;
  font-size: 17px;
  font-height: 17px;
  font-weight: 400;
  color: #000000;

  background-color: #fffdfd;
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  color: inherit;

  text-decoration: none;
}

.button {
  background-color: #ffffff;
}

/*header*/

.background-light {
  background-color: #f3f7f8;
}

.background-dark {
  background-color: #293449;
}

.company-logo {
  font-size: 24px;
  font-height: 24px;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #ee3643;
  box-shadow: 0 5px 0 0;
}

 .main-header-buttons {
   color: #ffffff;
   font-height: 18px;
   background-color: #293449;
 }

.main-header-search-form {
  background-image: url(../img/icon-search.svg);
  background-position: left center;
  background-repeat: no-repeat;
}

.main-header-bookmarks {
  background-image: url(../img/icon-bookmark.svg);
  background-position: left center;
  background-repeat: no-repeat;
}

.main-header-cart {
  background-image: url(../img/icon-cart.svg);
  background-position: left center;
  background-repeat: no-repeat;
}

.main-header-issue {
  background-color: #63a63e;
}

.main-header-text {
  font-family: "Cuprum Italic", Arial, sans-serif; /* надо ли здесь поменять Arial на какой-нибудь Italic? */
  font-size: 16px;
  font-height: 23px;
  color: #ee3643;
}

.main-header-telephone {
  font-size: 21px;
  font-height: 21px;
  color: #ee3643;

  background-image: url(../img/icon-phone.svg);
  background-position: left center;
  background-repeat: no-repeat;
}

.main-header-adress {
  font-size: 14px;
  font-height: 24px;
  color: #32425c;
}

.main-header-buttons-list {
  font-size: 21px;
  font-height: 21px;
}

.header-login {
  background-image: url(../img/icon-login.svg);
  background-position: left center;
  background-repeat: no-repeat;
}

.background-secondary {
  background-color: #32425c;
}

/*main*/

.promo-title {
  font-family: "Cuprum Bold", Arial, sans-serif; /* надо ли здесь поменять Arial на какой-нибудь Bold? */
  font-size: 24px;
  font-height: 30px;
  font-weight: 700;
  color: #ffffff;
}

.promo-button {
  font-size: 14px;
  font-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
}

.background-warning {
  background-color: #ffbf47;
}

.promo-materials {
  background-image: url(../img/icon-promo-materials.svg);
  background-position: right center;
  background-repeat: no-repeat;
}

.new-promo {
  background-image: url(../img/new-promo.svg);
  background-position: right top;
  background-repeat: no-repeat;
}

.background-info {
  background-color: #3bbce3;
}

.promo-tools {
  background-image: url(../img/icon-promo-tools.svg);
  background-position: right center;
  background-repeat: no-repeat;
}

.background-violet {
  background-color: #dc91d8;
}

.promo-equipment {
  background-image: url(../img/icon-promo-equipment.svg);
  background-position: right center;
  background-repeat: no-repeat;
}

.background-aquamarine {
  background-color: #8ed78f;
}

.promo-sale {
  background-image: url(../img/icon-promo-sale.svg);
  background-position: right center;
  background-repeat: no-repeat;
}

.promo-delivery {
  background-image: url(../img/icon-promo-delivery.svg);
  background-position: right center;
  background-repeat: no-repeat;
}

.slider-title {
  font-family: "Cuprum Bold", Arial, sans-serif; /* надо ли здесь поменять Arial на какой-нибудь Bold? */
  font-size: 36px;
  font-height: 36px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}

.slider-subtitle {
  font-size: 18px;
  font-height: 24px;
  color: #ffffff;
}

.red {
  font-size: 14px;
  font-height: 18px;
  color: #ffffff
  text-transform: uppercase;

  background-color: #ee3643;

  border-radius: 3px; /*Подобрать точное значение*/
}

.slider-item-drills {
  background-image: url(../img/slider-drills.png);
  background-position: left center;
  background-repeat: no-repeat;
}

.slider-items-perforators {
  background-image: url(../img/slider-perforators.png);
  background-position: left center;
  background-repeat: no-repeat;
}

.slider-pointer-left {
  background-image: url(../img/icon-left.svg);
  background-position: left center;
  background-repeat: no-repeat;
}

.slider-pointer-right {
  background-image: url(../img/icon-right.svg);
  background-position: right center;
  background-repeat: no-repeat;
}

.new {
  background-image: url(../img/new-products.svg);
  background-position: right top;
  background-repeat: no-repeat;
}

.background-beige {
  background-color: #f9f5f0;
}

.content-title {
  font-size: 30px;
  font-height: 30px;
  color: #32425c;
  text-transform: uppercase;
}

.catalog-button-buy {
  background-image: url(../img/icon-cart.svg);
  background-position: left center;
  background-repeat: no-repeat;
  background-color: #63a63e;
  box-shadow: 0 3px 0 0;
}

.catalog-button-bookmarks {
  background-color: #32425c;

  outline: 3px solid #63a63e;
}

.pop-card-title {
  font-family: "PT Sans Bold", Arial, sans-serif;
  font-size: 18px;
  font-height: 20px;
  font-weight: 400;
}

.catalog-item-old-price {
  font-family: "PT Sans Bold", Arial, sans-serif;
  font-size: 17px;
  font-height: 18px;
  font-weight: 400;
  color: #a9a9a9;
  text-decoration: line-through;
}

.catalog-item-new-price {
  background-image: url(../img/red-button.svg);
  background-position: center center;
  background-repeat: no-repeat;
}

.background-light-gray-blue {
  background-color: #f4f7f9;
}

.services-buttons {
  font-family: "Cuprum Bold", Arial, sans-serif;
  font-size: 21px;
  font-height: 30px;
  font-weight: 700;
  color: #ffffff;

  background-color: #32425c;
  background-image: url(../img/services-shadow.png);
  background-position: center right;
  background-repeat: no-repeat;
}

.services-current-button {
  color: #32425c;

  background-color: #ffffff;
}

.services-delivery {
  background-image: url(../img/services-delivery.png);
  background-position: center right;
  background-repeat: no-repeat;
}

.services-guarantee {
  background-image: url(../img/services-guarantee.png);
  background-position: center right;
  background-repeat: no-repeat;
}

.services-credit {
  background-image: url(../img/services-credit.png);
  background-position: center right;
  background-repeat: no-repeat;
}

.contacts-action-close {
    color: #ee3643;
}

.contacts-action-title {
  font-size: 18px;
  font-height: 18px;
}

.background-light-danger {
  background-color: #ff5257;
}

.background-light-secondary-danger {
  background-color: #f4f4f4;
}

/*footer*/
.main-footer-logo {
  font-size: 30px;
  font-height: 30px;
}

.footer-contacts {
  font-size: 18px;
  font-height: 24px;
  color: #ffffff;
}

.main-footer-navigation-item {
  font-size: 18px;
  font-height: 24px;
  color: #ffffff;
}

.color-yellow {
  color: #ffd180;
}

.main-footer-copyright {
  font-size: 16px;
  font-height: 18px;
  color: #ffffff;
}
